<div class="side_bar_header">
  <div class="name">
    <%= link_to current_user.name, "edit_user_path(current_user)" %>
  </div>
  <div class="list_create"><%= link_to "新規作成", "new_room_path" %></div>
</div>

<div class="list_corner">
  <ul class="lists">
    <li class="list_name">
      リスト名一覧
    </li>
  </ul>
</div>
