<div class="side_bar_header">
  <div class="name">
    <%= link_to current_user.name, user_path(current_user) %>
  </div>
  <div class="list_create">
    <%= link_to "新規作成", new_list_path %>
  </div>
</div>

<div class="list_corner">
  <ul class="lists">
    <% if current_user.lists.any? %>
      <% current_user.lists.each do |list| %>
        <li class="list_name">
          <%= link_to list.list_title, lists_path(id: list.id) %>
        </li>
      <% end %>
    <% else %>
      <li class="list_name">リストがありません</li>
    <% end %>
  </ul>
</div>
