/* 曲情報テーブルのスタイル */
.content {
  width: 100%;
  padding: 0 40px;
  height: calc(100vh - 100px);
  color: black;
  font-size: 16px;
  overflow: auto;
}

.songs_table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6列の等幅グリッド */
  gap: 10px; /* 列間の隙間 */
  border-collapse: collapse; /* テーブルのセル間の隙間をなくす */
}

.songs_table_header, .songs_table_row {
  display: contents; /* テーブルの列として表示 */
}

.songs_table_header > div, .songs_table_row > div {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* セルの境界線 */
  background-color: #f9f9f9; /* セルの背景色 */
  word-wrap: break-word; /* 内容が長い場合に折り返し */
}

/* ヘッダーの背景色とフォントを太字にする */
.songs_table_header > div {
  font-weight: bold;
  background-color: #f4f4f4;
}

.songs_table_row:nth-child(even) > div {
  background-color: #f9f9f9; /* 偶数行の背景色 */
}

.songs_table_row:nth-child(odd) > div {
  background-color: #fff; /* 奇数行の背景色 */
}

/* 基本レイアウト */
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side_bar {
  width: 300px;
}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #DCC2FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  line-height: 100px;
}

.name a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.list_create a {
  height: 38px;
  padding: 5px;
  color: #6927FF;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #6927FF;
}

.list_corner {
  height: calc(100vh - 100px);
  background-color: #EAD9FF;
}

.lists {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  scrollbar-color: #DCC2FF #EAD9FF;
}

.list_name {
  width: 100%;
  padding: 20px 20px 40px;
  background-color: #EAD9FF;
}

.list_name a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.main {
  width: calc(100vw - 300px);
}

.main_header {
  padding: 0 40px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F8F8FF;
}

.list_title {
  padding: 36px 0 0 0;
  font-size: 18px;
  color: black;
}

.list_description {
  padding: 20px;
  font-size: 16px;
  color: #555;
}
